<%= content_tag :div, id: "task-#{task.id}" do %>

<tr>
  <td><%= task.description %> <%= link_to "Edit", edit_list_task_path(task.list, task), remote: :true %></td>
  <td><%= countdown(task.created_at) %> days</td>
  <td><%= link_to "Completed", [task.list, task], method: :delete, remote: :true %></td>
  
</tr>

<% end %>