<h1>My Lists</h1>

<% if @user.lists.count > 0 %>
  <div class="all-lists">
    <% @lists.each do |list| %>
    <div class="list-image">
      <%= link_to list_path(list) do %>
        <%= image_tag("/images/to-do.png") %>
      <% end %>
      <br/>
      <div class="list-info"><%= content_tag :div, id: "list-#{list.id}" do %><%= list.name %><br/><% end %>
        <%= link_to "✐", edit_list_path(list), remote: :true %>
        <%= link_to "✖", list, method: :delete, data: { confirm: "Are you sure you want to delete this list?" } %>
      </div>
    </div>
    <% end %>
  </div>
  
  Create another to-do list!
  <br/>
  <div>
    <%= render partial: 'lists/form', locals: { list: @list } %>
  </div>

<% else %>
  Create your to-do list!
  <br/><br/>
  <div>
    <%= render partial: 'lists/form', locals: { list: @list } %>
  </div>
<% end %>